body {
  font-family: Georgia,"Bitstream Charter",serif;
}

.idiom, .explanation {
  font-weight: bold;
}


blockquote {
    margin: 0;
}

ul.stripes {
  background: url("../images/3-stripe.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
  padding-bottom: 40px;
}